# .env

# Database connection
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Resend Email Configuration (For Password Resets)
RESEND_API_KEY=
FROM_EMAIL=Karakas <noreply@karakas.app>
NEXT_PUBLIC_APP_URL=http://localhost:3000

# AI APIs
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# OAuth Providers
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
